section.conatct-us .envelope-icon{
    color: var(--subtitle);
    margin-right: 1rem;
    font-size: 1.8rem;
}
section.conatct-us .title{
    font-size: 2.1rem;
    color: var(--title);
    margin-bottom: 2rem;
}
section.conatct-us .sub-title{
    color: var(--subtitle);
    margin-bottom: 4rem;
    line-height: 1.6rem;
}
section.conatct-us .lable{
    color:var(--subtitle) ;
}
section.conatct-us  #email , 
section.conatct-us #massage{
all: unset;
background-color:rgba(63, 63, 70, 0.15);
border: 1px solid rgb(63, 63, 70);
width: 16rem;
padding: 0.5rem 1rem;
margin-left: 1rem;
border-radius: 5px;
font-size: 1.1rem;
color: var(--title);
}
section.conatct-us  #email:focus ,
 section.conatct-us #massage:focus{
    border:1px solid rgb(45, 212, 191);
}
section.conatct-us #massage{
    min-height: 9rem;
    resize: vertical;
}

form button {
  --bg: #e74c3c;
  --text-color: #fff;
  position: relative;
  width: 100px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: .8em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
    margin-top: 1.8rem;
}

form button:hover {
  opacity: 1;
}

form button:active {
  top: 4px;
  box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
}

.newtons-cradle {
  --uib-size: 50px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
 }
 
 .newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
 }
 
 .newtons-cradle__dot::after {
  content: '';
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
 }
 
 .newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
 }
 
 .newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
 }
 
 @keyframes swing {
  0% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  25% {
   transform: rotate(70deg);
   animation-timing-function: ease-in;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 }
 
 @keyframes swing2 {
  0% {
   transform: rotate(0deg);
   animation-timing-function: linear;
  }
 
  50% {
   transform: rotate(0deg);
   animation-timing-function: ease-out;
  }
 
  75% {
   transform: rotate(-70deg);
   animation-timing-function: ease-in;
  }
 }
 
@media (max-width: 600px) {
    .animation{
        display: none;
    }
 section.conatct-us form{
     display: flex;
     flex-direction: column;
     width: 85%;
    
 }
 
 section.conatct-us form div.flex{
flex-direction: column;
align-items: start;
 }
section.conatct-us  #email, 
section.conatct-us #massage{
    width: 100%;
    margin-left:0;
    padding: 0;
    margin-top: 1rem;
}
form button {
    align-self: center;
}
}












