@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html{
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1px;
     scroll-behavior: smooth;
}
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}
html {box-sizing: border-box;} 
 
*, *:before, *:after {box-sizing: inherit;}  
:root{
  --primary:#000;
  --secondary:#1b1717;
  --border:rgba(63,63,70,0.4);
  --subtitle:#d9d9d9bb;
  --title:white;
  --bgHeader:rgb(39 , 39, 42);
  --blue:rgb(93,188,252);
  --iconhover:rgb(93,188,252);
}
body{
  background-color: var(--primary);
  color: #fff;
  
}
.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary);
  padding: 0 4.8rem;

}
.divider{
 
  margin: 5rem 0;
}
li{
  list-style: none;
  
}
a{
  text-decoration: none;
  color: initial;
}
.flex{
  display: flex;
  align-items: center;
}
.border{
  border: 1px solid red;
}
/*scrolbar*/
::-webkit-scrollbar {
  width:1.8rem;
 }
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 1.5px 2px rgba(0, 0, 0, 0.5);
  border-radius:4px;
  background-color:#d4d4d8;
  }
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius:4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(22, 22, 22);
}
/* for Firefox */
 html {scrollbar-color: #ebdee5 #36404b;} 

/* <reset-style> ============================ */
a {
  text-decoration: none;
}
/* <main-style> ============================ */
.scroll-up {
	/* position: fixed; */
  right: 3rem;
  bottom: 2rem;
  z-index: 10;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: rgba(29, 29, 31, 0.7);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: 2s, transform .4s;
  position: fixed;
 
}

.scroll-up:hover {
  transform: translateY(-.25rem);
}

/* Show scroll-up */
._show-scroll {
  bottom: 3rem;
}


@media (max-width: 1199.98px) {
  .scroll-up {
    right: 1rem;
  }
}




@media (max-width: 1000px) {
 .container{
   width: 90%;
   padding: 0 1.7rem;
 }
}
@media (max-width: 600px) {
 .container{
   width: 98%;
   padding: 0 1.7rem;
 }
}